.login{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 100px;
}

input[type=text] {
    margin-left: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid grey;
    outline: none;
  }
  
input[type=text]:focus {
    border: 2px solid rgb(51, 169, 216);
}

.text-center{
    text-align: center;
}