.box {
    border: 2px solid black;
    border-radius: 10px;
    height: auto;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box h4 {
    margin-left: 10px;
}

.box p {
    padding: 0px;
    margin: 0px;
    color: grey;
    margin-left: 10px;
}

.logoutButton{
    float: right;
    margin-right: 5px;
}

.list-main{
    display: flex;
    padding-left: 0px;

}

.list-main li{
    color: grey;
    list-style: none;
    margin-left: 10px;
}